<nav class="light-blue accent-4" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="/" class="brand-logo">SlackRPG</a>
		<ul class="right hide-on-med-and-down">
			<li><a href="#" class="light-blue darken-1">Connection</a></li>
			<li><a href="/commands" class="light-blue darken-1">Commands</a></li>
		</ul>

		<ul style="left: -250px;" id="nav-mobile" class="side-nav">
			<li><a href="#">Connection</a></li>
			<li><a href="/commands">Commands</a></li>
			<li><a href="#">Navbar Link</a></li>
			<li><a href="#">Navbar Link</a></li>
		</ul>
		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
</nav>